@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Zaloguj się";
    ViewData["SubTitle"] = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, saepe.";
}
@await Html.PartialAsync("_PageHeader")

<div class="container">
<div class="row py-5">
    <div class="col-md-4">
        <div class="card text-center">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="card-header">
                    <h3>Użyj lokalnego konta.</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" Placeholder="Hasło"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe"/>
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">Prześlij</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Zapomniałeś hasła?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Nie masz konta?</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                <h3>Użyj innego serwisu do logowania.</h3>
            </div>
            <div class="card-body">
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                Nie skonfigurowano żadnych zewnętrznych serwisów. Przejrzyj <a href="https://go.microsoft.com/fwlink/?LinkID=532715">ten artykuł</a>
                                aby sprawdzić jak dodać zewnętrzne serwisy do aplikcji ASP.NET.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-outline-primary" name="provider" value="@provider.Name" title="Zaloguj używając Twojego konta na @provider.DisplayName">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
